/* Print CSS */

/* Minified Eric Meyer reset CSS; see css/_reset.css */
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/*
  End reset CSS.

  Write custom styles in the appropriate sections below (BASE, LAYOUT, MODULAR, and STATE), whose
  labels are derived from the book Scalable and Modular Architecture for CSS (SMACSS) by
  Jonathan Snook. See https://smacss.com/

  To save paper when testing print styles, see if your operating system or browser has a Print
  Preview or Print to PDF feature.
*/

/* ===== BASE STYLES ============ */
/* Primarily element selectors for content: headings, paragraphs, lists, and media */

/* Optimal Typographic Rendering */
html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Responsive Media */
audio,
img,
video {
  display: block;
  max-width: 100%;
}
picture img {
  width: 100%;
}

/* Typical bold and italic styles */
b,
strong {
  font-weight: bold;
}
i,
em,
cite {
  font-style: italic;
}

/*
  Print all text color as black, including links.
*/

* { color: black; }

/*
  No underlines or border-bottom on hyperlinks or abbreviations:
*/
a,
abbr {
  text-decoration: none;
  border-bottom: 0;
}


/* ===== LAYOUT STYLES ========== */
/* Primarily ID selectors for positioning sectioning elements */


/* ===== MODULAR STYLES ========= */
/* Primarily class selectors for styling unique page components  */

/*
  Automatically print the URLs from hyperlinks in the
  content area of a page, unless the hyperlink is only
  a fragment identifier (beginning with #):
*/
#content a:after {
   content: " (" attr(href) ") ";
}
#content a[href^="#"]:after {
  content: "";
}

/*
  Output the full title of abbreviations when printed, assuming
  the <abbr> element has a title attribute.
*/
abbr[title]:after {
  content: " (" attr(title) ") ";
}


/* ===== STATE STYLES =========== */
/*
  Hide the the site navigation and the colophon's validator links
  and other material, which are probably not necessary when a page
  is printed.
*/

#navigation,
.colophon {
	display: none;
}
